body {
 font-family: Corbel;
 width: 100%;
}
#header {
    background-color:white;
    width:100%;
    float: left;
}
#logo {
    width: 42%;
    float: left;
}
#links {
     width:57%;
    float: inherit;
    
}
.linkbutton {
    padding:60px;
}
#service {
    float:right;
    width:26%;

}
#nav {
   font-size:larger;
    margin-top:82px;
    margin-left:12px;
    
}
#footer {
    width: 100%;
}
#left_footer {
    width:40%;
    float:left;
}
#right_footer {
    width:59%; 
    float:right;
}
